.sliderWrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.slider {
  display: flex;
  width: 200%; /* 100% * number of slides (4 images * 2 for continuous effect) */
  height: 100%;
  animation: slide 16s linear infinite;
  position: absolute;
}

.slide {
  flex: 0 0 25%; /* 100% / number of images */
  position: relative;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move 50% to show 4 images */
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .slider {
    width: 200%; /* Adjust to fit more images for smaller screens */
  }

  .slide {
    flex: 0 0 50%; /* Two images per viewport width */
  }
}

@media (max-width: 480px) {
  .slider {
    width: 200%; /* Adjust to fit more images for smaller screens */
  }

  .slide {
    flex: 0 0 100%; /* One image per viewport width */
  }
}
